/*
*绝对定位法
*/

*{
	margin: 0;
	padding: 0px;
}

.box{
	margin: 20px;
	background-color: #eee;
	/*clear: both;*/
	/*height: 420px;*/
	position: relative;
	/*overflow: hidden;*/
	/*position: fixed;*/
}
div{
	padding: 20px;
	border: 1px solid #999;
	

}
ul{
	list-style: none;
}
li{
	height: 80px;
	margin-top: 20px;
}
#first-li{
	margin-top: 0;
}

.left{
	width: 160px;
	position: absolute;
	left: 20px;
	top: 20px;
}
.right{
	width: 80px;
	position: absolute;
	right: 20px;
	display: block;
	top:20px;
}

.left p{
	position: absolute;
	top:20px;
	left: 120px;
	padding: 0;
}

.center{
	/*min-width: 300px;*/
	margin: 0 140px 0 220px;/*留出左右的宽度*/


}
